body {

    background-color: white;
    height: 100%;
    width: 100%;
    
}

.border-image {

    width: 150px;
    height: 150px;
    border-style: solid;
    border-radius: 25px;

}

a:link {

    color: white;
    text-decoration: none;

}

a:visited {

    color: white;

}

a:hover {

    color: grey;

}

a:active {

    color: grey;

}

p {

    word-wrap: break-word;

}

.nav-flex {

    background-color: #13293D;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -50px -50px 0px -50px;
    padding: 50px 50px 0px 50px;

}

.logo-flex {

    display: flex;
    justify-content: center;;
    flex: 0 1 auto;
    margin: 8px 100px 8px 100px;
    padding: 0px 0px 0px 100px;

}

.links-flex {

    display: flex;
    justify-content: flex-end;
    flex: 1;
    gap: 24px;
    margin: 8px 250px 8px 0px;

}

.header-flex {

    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #13293D;
    color: white;
    margin: 0px -50px 0px -50px;
    padding: 0px 50px 0px 50px;

}

.header-flex .image {

    display: flex;
    height: 150px;
    width: auto;
    margin: 20px 200px 20px 20px;

}

.verticle-flex {

    display: flex;
    flex-direction: column;
    margin: 20px 20px 20px 200px;


}

.button {

    width: 100px;

}

.information-flex {

    display: flex;
    flex-direction: column;
    
}

.content-flex {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;

}

.content-flex2 {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;

}

.quote-flex {

    display: flex;

}

.footer-flex {

    display: flex;

}